.header {
  height: 100vh;

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-grey-dark-1);

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    animation-name: moveInRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
  }

  &__photo {
    height: 25em;
    width: 25rem;
    border-radius: 50%;
    margin-top: 2em;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;

    box-shadow: var(--shadow-dark);
  }

  &__description {
    margin-top: 4rem;
    padding: 4rem;
    background-color: var(--color-primary);
    box-shadow: var(--shadow-light);
    color: #fff;
    font-size: 1.9rem;
    letter-spacing: 1px;
    text-align: center;
    transform: skewX(-20deg);
    animation: appear 0.5s ease-out 1.4s;
    animation-fill-mode: backwards;

    &-text {
      transform: skewX(20deg);

      @media only screen and (max-width: $bp-small) {
        transform: skewX(0deg);
      }
    }

    @media only screen and (max-width: $bp-small) {
      width: 80%;
      transform: skewX(0deg);
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: #555;

      & > i {
        transition: all 0.2s;
      }

      &:hover i {
        color: #111;
      }
    }
  }

  &__icon {
    &:link,
    &:visited {
      text-decoration: none;
      color: black;
      animation-name: bounce;
      animation-duration: 0.7s;
      animation-delay: 2s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;
    }
  }
}
