.header {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-grey-dark-1);

  &__title, &__subtitle {
    font-size: 7rem;
    font-weight: bold;
    line-height: 8rem;
    margin-left: 4rem;
    padding-bottom: 3rem;
    width: 75%;

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }
  }

  &__title {
    animation-name: moveInLeft;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
  }

  &__subtitle {
    animation-name: moveInLeft;
    animation-duration: 0.8s;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;

    animation-timing-function: ease-out;
  }

  &__links {
    animation: moveInBottom 0.5s ease-out 2s;
    animation-fill-mode: backwards;

    margin-top: 2rem;
    border-top: 4px solid var(--color-grey-dark-1);

    &__item {
      &:link,
      &:visited {
        text-decoration: none;
        color: #555;

        & > i {
          font-size: 4rem;
          margin: 3rem;
          transition: all 0.2s;
        }

        &:hover i {
          color: var(--color-primary);
        }
      }
    }
  }

  &__icon {
    &:link,
    &:visited {
      text-decoration: none;
      color: black;
      animation-name: bounce;
      animation-duration: 0.7s;
      animation-delay: 3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;
    }
  }
}
